# Ignore sensitive files
.env
config.json

# Ignore build files and logs
*.log
**/bin/
**/obj/

# Ignore Visual Studio specific files
**/.vs/
*.user

# Ignore user-specific files
*.suo

# Ignore .http files in all solution levels
**/*.http

# Ignore temporary files and directories
*.tmp
*.temp
**/temp/
**/tmp/
*.bak
*.swp

# Ignore Visual Studio Code specific files
.vscode/
